.fivedayweather-container{
    max-width: 768px;
    width: 100%;
    margin: 0 auto;
    padding-bottom: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
}

.day1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-image: linear-gradient(to bottom, rgba(110, 110, 110, 0.5), 30%, #202020);
    border-radius: 20px 20px 0 0;
}

.day2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-image: linear-gradient(to bottom, rgba(110, 110, 110, 0.5), 30%, #202020);
    border-radius: 20px 20px 0 0;
}

.day3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
    gap: 10px;
    background-image: linear-gradient(to bottom, rgba(110, 110, 110, 0.5), 30%, #202020);
    border-radius: 20px 20px 0 0;
}

.day4 {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-image: linear-gradient(to bottom, rgba(110, 110, 110, 0.5), 30%, #202020);
    border-radius: 20px 20px 0 0;
}

.day5 {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-image: linear-gradient(to bottom, rgba(110, 110, 110, 0.5), 30%, #202020);
    border-radius: 20px 20px 0 0;
}

.date > p {
    padding-top: 15px;
    text-align: center;
    margin: 0;
    font-weight: 400;
    font-size: 1.25em;
}

.min-max-temp {
    display: flex;
    flex-direction: row;
}

.min-max-temp > p {
    text-align: center;
    margin: 0;
    font-family: var(--font);
    font-weight: 400;
    font-size: 1.25em;
}

.description-day > p {
    text-align: center;
    margin: 0;
    font-family: var(--font);
    font-weight: 400;
    font-size: 1.125em;
}

@media (min-width: 768px) {

    .day1 {
        padding: 0 10px 0 10px;
        border-radius: 25px 25px 0 0;
    }

    .day2 {
        padding: 0 10px 0 10px;
        border-radius: 25px 25px 0 0;
    }

    .day3 {
        padding: 0 10px 0 10px;
        border-radius: 25px 25px 0 0;
    }

    .day4 {
        padding: 0 10px 0 10px;
        border-radius: 25px 25px 0 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }
    
    .day5 {
        padding: 0 10px 0 10px;
        border-radius: 25px 25px 0 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }
}