.core-container {
    display: none;
}

.current-day-container {
    margin: 30px auto;
    max-width: 300px;
    padding: 20px 0 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;    
    font-family: var(--font);
    gap: 10px;
    background-image: linear-gradient(to bottom right, rgba(110, 110, 110, 0.5), #202020 45% 55%, rgba(110, 110, 110, 0.5));
    border-radius: 20px 200px / 240px;
}

.current-day-container > p {
    margin: 0;
    font-weight: 300;
    font-family: var(--font);
    font-size: 1.75em;
}

.main-temp {
    margin: 0;
}

.main-temp > h1 {
    margin: 0;
    font-weight: 500;
    font-size: 4em;
}

.feels-like-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.feels-like-container > span {
    font-size: 1.25em;
}

.feels-like-container > p {
    margin: 0;
    font-weight: 300;
    font-family: var(--font);
    font-size: 1.75em;
}

.humidity-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.humidity-container > span {
    font-size: 1.25em;
}

.humidity-container > p {
    margin: 0;
    font-weight: 300;
    font-family: var(--font);
    font-size: 1.75em;
}

@media (min-width: 768px) {
    .current-day-container {
        margin: 30px auto;
        max-width: 450px;
    }
}