@import './header.css';
@import './finder-container.css';
@import './core-container.css';
@import './5dayweather.css';
@import './footer.css';

:root {
    --font: font-family: 'Kanit', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: #202020;
}

.starting-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    color: white;
}

span {
    color: rgba(165, 165, 165, 0.65);
}

p {
    color: white;
}